.menus-wrap .menus {
    border-top: 2px solid #099e6a;
    border-bottom: 1px solid #099e6a;
    background: #fcfcfc;
}

.menus li:hover {
    color: #099e6a;
}

.menus .first {
    background-color: #099e6a;
}

.govsite-top {
    border: solid 1px #099e6a;
}

.govsite-top .title {
    border-right: 1px solid #099e6a;
    color: #099e6a;
}

.wg-trailer {
    border-top: 1px solid #099e6a;
}

.wg-head h1{
    color: #099e6a;
}

.wg-trailer span {
    color: #099e6a;
}