/*右侧部分start*/


/*导航栏*/

.f_r {
    float: right;
    width: 776px;
    padding-bottom: 30px;
}

.sort {
    position: relative;
    z-index: 500;
}

.sort .wrap {
    box-sizing: content-box;
    height: 38px;
    background: #fff;
    color: gray;
    line-height: 38px;
}

.sort .sortMode {
    overflow: visible;
    float: left;
    height: 38px;
}

.sort .sortMode h3 {
    float: left;
    padding: 0 21px;
    background: #fff;
    border-right: 1px solid #f5f5f5;
    font-size: 12px;
    font-weight: 400;
    cursor: default;
}

.sort .sortMode>dl {
    position: relative;
    z-index: 10;
    overflow: hidden;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 1px 0 -1px;
    white-space: nowrap;
}

.sort span {
    font-size: 12px;
}

.sort .sortMode dt {
    padding: 0 18px;
    cursor: default;
}

.sort .sortMode dt>.arrow {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.sort .sortMode dd {
    position: relative;
    z-index: 12;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .1s ease .1s;
    -moz-transition: all .1s ease .1s;
    -ms-transition: all .1s ease .1s;
    transition: all .1s ease .1s;
}

.sort .sortMode>dl:hover {
    height: auto;
    overflow: visible;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-width: 0 1px 1px;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
}

.sort .sortMode>dl:hover .arrow {
    display: none;
}

.sort .sortMode>dl:hover dd {
    visibility: visible;
    opacity: 1;
}

.sort .sortMode dd a {
    display: block;
    padding: 0 32px 0 17px;
    font-weight: 500;
    color: gray;
    font-size: 12px;
}

.sort .sortMode dd a:hover {
    color: #35B558;
}

.sort .arrow {
    width: 8px;
    height: 8px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    display: inline-block;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
}

.sort .previewMode {
    float: right;
}

.previewMode li.curr {
    background: #fff;
}

.previewMode li {
    position: relative;
    float: left;
    width: 36px;
    height: 38px;
    border-left: 1px solid #f5f5f5;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;
}

.previewMode .list-icon {
    width: 35px;
    background: url(../img/icon-list.png) no-repeat center;
    background-size: 16px 12px;
}

.previewMode .kuai-icon {
    width: 35px;
    background: url(../img/icon-kuai.png) no-repeat center;
    background-size: 14px 14px;
}


/*内容部分*/

.lesson-list ul {
    margin-top: 15px;
}

.lesson-list ul li {
    height: 225px;
    width: 250px;
    margin-right: 13px;
    margin-bottom: 13px;
    float: left;
}

.lesson-list .lessonimg-box .lessonimg {
    width: 100%;
    height: 135px;
}

.lesson-list .lessonimg-box {
    width: 100%;
    height: 135px;
    position: relative;
    transition: all 0.5s;
}

.lesson-list ul li:nth-child(3n+3) {
    margin-right: 0;
}

.lesson-list .lesson-infor {
    padding: 10px;
    position: relative;
    z-index: 200;
    height: 88px;
    overflow: hidden;
    background: #fff;
    transition: all 0.5s;
}

.lesson-list .lesson-infor .lesson-info-h2,
.lesson-list .lesson-infor h5 {
    font-size: 14px;
    color: #333;
    line-height: 18px;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
    transition: all 0.5s;
}

.lesson-list .lesson-infor .lesson-info-h2 a,
.lesson-list .lesson-infor .lesson-info-h2 a:hover,
.lesson-list .lesson-infor h5 a,
.lesson-list .lesson-infor h5 a:hover {
    color: #333;
}

.lesson-infor .timeandicon {
    font-size: 12px;
    color: gray;
    position: relative;
}

.lesson-list .lessonplay .playericon {
    position: absolute;
    z-index: 120;
    width: 50px;
    height: 50px;
    display: block;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    background: url(https://s1.jikexueyuan.com/common/images/player_icon_5c67475.png) 0 0 no-repeat;
    cursor: pointer;
    background-size: 50px 50px;
}

.cf {
    zoom: 1;
}

.lesson-list .lesson-infor .timeandicon dl {
    width: 120px;
    float: left;
    white-space: nowrap;
}

.lesson-list .lesson-infor .timeandicon dl dd {
    font-size: 12px;
}

.lesson-list .lesson-infor p {
    color: gray;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    margin-bottom: 10px;
}

.lesson-list .lesson-infor .timeandicon .learn-number {
    float: right;
}

.lesson-infor .timeandicon .time-icon {
    background: url(https://s1.jikexueyuan.com/common/images/clok_a413ecf.png) 0 0 no-repeat;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
    background-size: 14px 14px;
}

.lesson-infor .timeandicon .xinhao-icon {
    background: url(https://s1.jikexueyuan.com/common/images/one-ji_1731712.png) 0 0 no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
}

.lesson-infor .timeandicon .xinhao-icon2 {
    background: url(https://s1.jikexueyuan.com/common/images/tow-ji_ec2b553.png) 0 0 no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
}

.lesson-infor .timeandicon .xinhao-icon3 {
    background: url(https://s1.jikexueyuan.com/common/images/three-ji_b588ab1.png) 0 0 no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
}

.timeandicon dl dd {
    font-size: 12px;
    float: left;
    display: inline-block;
    margin-right: 15px;
}

.mar-b8 {
    margin-bottom: 8px;
}

.lesson-list .lesson-infor .lessonicon-box {
    position: absolute;
    right: 0;
    text-align: right;
}

/*list2部分*/
.lesson-list2 ul li {
    height: 100px;
    padding: 0;
    background-color: #fff;
    margin-top: 13px;
}

.lesson-list2 .lessonimg-box {
    width: 185px;
    height: 100px;
    float: left;
    margin-right: 15px;
    position: relative;
    transition: all 0.5s;
}

.lesson-list2 .lessonimg-box .lessonimg {
    width: 185px;
    height: 100px;
}

.lesson-list2 .lesson-infor {
    position: relative;
    width: 566px;
    float: left;
    transition: all 0.5s;
}

.lesson-list2 .lessonplay .playericon {
    position: absolute;
    z-index: 120;
    width: 50px;
    height: 50px;
    display: block;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    background: url(https://s1.jikexueyuan.com/course/images/player_icon_5c67475.png) no-repeat;
    background-size: 50px 50px;
    cursor: pointer;
}



.lesson-list2 .lesson-infor .lesson-info-h2, .lesson-list2 .lesson-infor h5 {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    transition: all 0.5s;
}

.lesson-list2 .lesson-infor .lesson-info-h2 a, .lesson-list2 .lesson-infor h5 a {
    color: #333;
}

.lesson-list2 .lesson-infor p {
    color: gray;
    font-size: 12px;
    opacity: 1!important;
    line-height: 18px;
    overflow: hidden;
    margin-bottom: 10px;
}



.lesson-list2 .lesson-infor .lessonicon-box {
    position: absolute;
    right: 0;
    text-align: right;
    top: -75px;
}


/*翻页部分*/

#page-nav {
    text-align: center;
    margin-top: 17px;
    height: 28px;
}

ul.pages {
    display: block;
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
    margin: 10px 0 45px;
    padding: 0;
}

ul.pages li.pgNext {
    width: 50px;
}

ul.pages li.pgEmpty {
    border: 1px solid #f0f0f0;
    color: #d9d6c3;
    width: 50px;
    cursor: default;
}

ul.pages li {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 0;
    line-height: 30px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 12px;
    background: #fff;
    color: gray;
    border: 1px solid #e4e4e4;
}

ul.pages li:nth-child(2) {
    width: 72px;
}

ul.pages li.pgCurrent {
    background: #35b558;
    color: #fff;
    border: 1px solid #35B558;
}

ul.pages li.pagetotal {
    width: 70px;
}

ul.pages li.thpoint {
    border: 0;
    cursor: auto;
    color: #000;
    background: none!important;
}

ul.pages li.pagenow {
    width: 100px;
}

ul.pages li.thpoint {
    border: 0;
    cursor: auto;
    color: #000;
    background: none!important;
    margin-top: 3px;
}

#page-nav input {
    width: 35px!important;
    height: 22px!important;
    background: #fff;
    border: 1px solid #e4e4e4;
    color: #666;
    line-height: 22px;
    margin: 0 10px;
    vertical-align: middle;
}

ul.pages li.go {
    width: 32px;
    height: 22px;
    line-height: 22px;
    margin-top: 6px;
}

.pgNext:hover {
    border: 1px solid #35B558;
    color: #35B558;
}

.page-number:hover {
    border: 1px solid #35B558;
    color: #35B558;
}
/*右侧部分end*/
/*右侧部分*/
.f_l {
    width: 210px;
    float: left;
}

.aside-allCategory {
    margin: 0;
    border: 1px solid #35b558;
    background-color: #fff;
}

.aside-allCategory>.hd {
    height: 45px;
    padding: 0 32px;
    border-bottom: 1px solid #eee;
    line-height: 45px;
    cursor: default;
}

.aside-allCategory>.hd h2 {
    position: relative;
    font-size: 14px;
    font-weight: 400;
}

.aside-allCategory>.hd h2 a {
    color: #35b558;
}

.aside-allCategory>.hd .icon-course-curr {
    display: block;
    width: 15px;
    height: 15px;
    background: url(https://s1.jikexueyuan.com/common/images/icon-course-curr_0743c98.png) no-repeat 0 0 / 15px 15px;
    position: absolute;
    margin-left: -20px;
    margin-top: 14px;
}

.aside-cList {
    position: relative;
    width: 208px;
}

.aside-cList li {
    padding: 0;
    border-bottom: 0;
}

.aside-cList li>div {
    cursor: pointer;
    width: 208px;
    height: 37px;
    border-bottom: 1px solid #f5f5f5;
    background: url(https://s1.jikexueyuan.com/common/images/icon-more_cd68622.png) 186px center no-repeat;
    background-size: 6px 10px;
    padding-left: 32px;
}

.aside-cList li>div a {
    font-size: 12px;
    color: #666;
    line-height: 36px;
}

.aside-cList li .list-show {
    display: none;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.1);
    -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.1);
    box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    overflow: hidden;
    min-height: 417px;
    min-width: 401px;
    background: #fff;
    border: 1px solid #ddd;
    position: absolute;
    left: 209px;
    top: -46px;
    z-index: 1101;
    list-style: none;
    margin-left: -1px;
    padding-bottom: 30px;
    float: left;
    width: 591px;
}

.aside-cList li .list-show dl {
    margin: 0 15px;
    overflow: hidden;
}

.aside-cList li .list-show dt {
    display: block;
    border-bottom: 1px solid #f5f5f5;
    height: 37px;
    line-height: 45px;
}

.aside-cList li .list-show dt>a {
    color: #333;
    font-size: 13px;
    font-weight: 500;
    line-height: 36px;
}

.aside-cList li .list-show dd {
    list-style: none;
    margin-left: -8px;
    padding: 3px 0;
}

.aside-cList li .list-show dd a {
    height: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0 7px;
    color: #666;
    display: inline-block;
    font-size: 12px;
    border-left: 1px solid #e0e0e0;
    float: left;
    white-space: nowrap;
    font-weight: 400;
}

.aside-cList li .list-show dd a:last-child {
    border-right: 0;
}

.hdlist {
    width: 100%;
    background-color: #fff;
}

.hdlist li {
    height: 45px;
}

.hdlist a {
    display: block;
    height: 45px;
    width: 100%;
    line-height: 45px;
    color: #333;
    font-size: 14px;
    padding-left: 10px;
 }

 .hdlist a i {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    vertical-align: text-bottom;
}

 .hdlist a .icon-zylj {
    background: url(https://s1.jikexueyuan.com/common/images/icon-zylj_6ee6dac.png) no-repeat left center;
    background-size: 15px 14px;
}

.hdlist a .icon-zstx {
    background: url(https://s1.jikexueyuan.com/common/images/icon-zstx_a1ae096.png) no-repeat left center;
    background-size: 15px 12.5px;
}

.hdlist a .icon-xlkc {
    background: url(https://s1.jikexueyuan.com/common/images/icon-xlkc_2e47588.png) no-repeat left center;
    background-size: 14px 14px;
}

.hdlist a .icon-kcbq {
    background: url(https://s1.jikexueyuan.com/common/images/icon-kcbq_65534c2.png) no-repeat left center;
    background-size: 15px 13px;
}

.aside-cList li>div:hover {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 38px;
    width: 210px;
    margin-top: -1px;
    margin-left: -1px;
    padding-left: 24px;
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    box-shadow: 1px 2px 4px rgba(0,0,0,.1);
}

.aside-cList li>div:hover>a {
    display: block;
    width: 188px;
    background: #fff;
    position: absolute;
    z-index: 1102;
    border-right: 3px solid #fff;
    color: #35b558;
    font-size: 13px;
    font-weight: 500;
    line-height: 36px;
}

.aside-cList li>div {
    cursor: pointer;
    background: url(https://s1.jikexueyuan.com/common/images/icon-more_cd68622.png) 186px center no-repeat;
    background-size: 6px 10px;
    padding-left: 32px;
}

.aside-cList li>div:hover .list-show {
    display: block;
}

.aside-cList li .list-show a:hover {
    color: #35b558;
}